BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -1
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
SortIncludes: true
IncludeBlocks: Preserve
SpaceAfterTemplateKeyword: false

